// Colors variables
$white: hsl(0, 0%, 100%);
$light-gray-violet: hsl(270, 3%, 87%);
$dark-gray-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

// input errors
$red: hsl(0, 100%, 66%);

// active input border
$linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);

.form__gradient {
  position: relative;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 1;
  }
}

.form__content {
  padding: 1rem;

  input {
    width: 100%;
    height: 2.5rem;
    border: 1px solid $light-gray-violet;
    border-radius: 0.35rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    outline: 2px solid hsla(249, 99%, 64%, 0);
    transition: outline 0.4s ease-in-out;

    &:focus {
      outline: 2px solid hsl(249, 99%, 64%);
    }

    // hide arrows from number input
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  /* Firefox hide arrows from number input */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1.2px;

    &.error {
      color: $red;
    }
  }

  .form__content-bottom {
    display: flex;
    justify-content: space-between;

    .form__date-label {
      width: 45%;
    }

    .date__input-container {
      display: flex;
      input {
        margin-right: 0.75rem;
      }
    }

    .cvc__input {
      display: flex;
      width: 100%;
    }
  }

  button {
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 0.35rem;
    background: $very-dark-violet;
    color: $white;
    font-size: 1rem;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}
