$white: hsl(0, 0%, 100%);

.cards__container {
  padding: 1rem;
}

.card__front {
  background-image: url('../../assets/bg-card-front.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 80%;
  border-radius: 0.5rem;
  padding: 1.5rem 1.5rem 0.25rem;
  color: $white;

  .card__bottom {
    display: flex;
    justify-content: space-between;
  }
}

.card__back {
  background-image: url('../../assets/bg-card-back.png');
}

