// Colors variables
$light-gray-violet: hsl(270, 3%, 87%);
$dark-gray-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

// input errors
$red: hsl(0, 100%, 66%);

// active input border
$Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
